<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Receipts{% endblock %}</title>
</head>
<body>
<header>
    <nav>
        {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a href="{% url 'home' %}">Home Page</a>
            <a href="{% url 'category_list' %}">Categories</a>
            <a href="{% url 'create_category' %}">Create a category</a>
            <a href="{% url 'accounts_list' %}">Accounts</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'signup' %}">Signup</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}  
    </nav>
</header>
    {% block content %}{% endblock content %}
</body>
</html>
