<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<nav>
    {% if user.is_authenticated %}
        <ul>
            <a href="{% url 'home' %}">Home Page</a>
            <a href="{% url 'category_list' %}">Categories</a>
            <a href="{% url 'create_category' %}">Create a category</a>
            <a href="{% url 'accounts_list' %}">Accounts</a>
            <a href="{% url 'create_account' %}">Create an account</a>
            <a href="{% url 'logout' %}">Logout</a>
        </ul>
    {% else %}
        <ul>
            <a href="{% url 'signup' %}">Signup</a>
            <a href="{% url 'login' %}">Login</a>
        </ul>
    {% endif %}  
</nav>
</header>
<body>
    <main>
        <div>
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup</button>
            </form>
        </div>
    </main>
</body>
</html>
